button{
    display: block;
    margin: auto;
    margin-top: 100px;
    width: 150px;
}

p, input{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    border: solid 1px;
    width: 180px;
}